{% load static i18n %}

{#{% url "app:sent-spotify-link-list" as sent_spotify_link_list_url %}#}
{% url "app:saved-spotify-link-list"  as saved_spotify_link_list_url %}
{% url "app:followed-artist-list"  as followed_artist_list_url %}

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li class="sidebar-header">
        <div class="user-view">
            <div class="background"></div>
            <a href="#user"><img class="circle" src="{{ user.profile.telegram_user.photo_url }}"></a>
            <a href="#name"><span class="white-text name">{{ user.profile.telegram_user.first_name }}</span></a>
            <a href="#email"><span class="white-text email">@{{ user.profile.telegram_user.username }}</span></a>
        </div>
    </li>
    <li><a class="subheader">Spotify</a></li>
{#    <li{% if request.path == sent_spotify_link_list_url %} class="active"{% endif %}><a#}
{#            href="{{ sent_spotify_link_list_url }}">{% trans "Sent links" %}</a></li>#}
    <li{% if request.path == saved_spotify_link_list_url %} class="active"{% endif %}><a
            href="{{ saved_spotify_link_list_url }}">{% trans "Saved links" %}</a></li>
    <li{% if request.path == followed_artist_list_url %} class="active"{% endif %}><a
            href="{{ followed_artist_list_url }}">{% trans "Followed artists" %}</a></li>
    <li>
        <div class="divider"></div>
    </li>
</ul>
