{% load static i18n %}

<div class="navbar-fixed">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'front:home' %}" class="brand-logo">MusicBucket</a>
                {#                <ul id="nav-mobile" class="right hide-on-med-and-down">#}
                {#                    <li><a href="#">Home</a></li>#}
                {#                    <li><a href="#">About</a></li>#}
                {#                    <li><a href="#">Login</a></li>#}
                {#                </ul>#}
            </div>
        </div>
    </nav>
</div>