$primary-color: #4752ad;
$light-color: #7a7edf;
$dark-color: #002a7d;

$secondary-color: #fff;
$text-color: #fffff;

nav {
  background-color: $primary-color;
}

.page-footer {
  background-color: $primary-color;
}
