<footer class="footer">
    <div class="content">
        <div class="columns">
            <div class="column">
                <h5>Open Source Project</h5>
                <p>
                    This is part of the <a
                        class="link-secondary text-decoration-none"
                        href="https://musicbucket.net"><strong>MusicBucket
                    project</strong></a>,
                    a
                    platform with a <strong>Telegram Bot</strong> and an API to
                    manage Spotify music data in Telegram.
                </p>
                <p>
                    This project uses the <a
                        href="https://github.com/paurieraf/lastfm-collage-generator"><strong>lastfm-collage-generator</strong></a>
                    Python library (available in <a
                        href="https://pypi.org/project/lastfmcollagegenerator/">PyPi</a>)
                    also created by myself.
                </p>
                <p>
                    <strong>Collage generator for Last.fm</strong> by <a
                        class="link-secondary text-decoration-none"
                        href="https://github.com/paurieraf">Pau
                    Riera</a><br>
                </p>
            </div>
            <div class="column">
                <h5>Repositories</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1">
                        <a class="link-secondary text-decoration-none"
                           href="https://github.com/paurieraf/lastfm-collage-generator"><span
                                class="mdi mdi-github"></span>
                            lastfm-collage-generator</a>
                    </li>
                    <li class="mb-1">
                        <a class="link-secondary text-decoration-none"
                           href="https://github.com/MusicBucket/musicbucket-bot"><span
                                class="mdi mdi-github"></span> MusicBucket Bot</a>
                    </li>
                    <li class="mb-1">
                        <a class="link-secondary text-decoration-none"
                           href="https://github.com/MusicBucket/musicbucket"><span
                                class="mdi mdi-github"></span> MusicBucket API</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>