{% load static i18n %}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Open Source Project</h5>
                <p class="grey-text text-lighten-4">
                    <a href="https://t.me/Sonomada_gang">
                        <span class="mdi mdi-telegram">&nbsp;</span> {% trans 'We are in Telegram' %}
                    </a>
                </p>
                <p>
                    {% trans "Made by" %} <a href="https://github.com/paurieraf">Pau Riera</a><br>

                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Repositories</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://github.com/MusicBucket/musicbucket">
                            <span class="mdi mdi-github"></span> Bot</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://github.com/MusicBucket/musicbucket-bot">
                            <span class="mdi mdi-github"></span> App</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="container">
        © 2020 musicbucket.net
    </div>
</div>
