{% load static i18n compress cookielaw_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{% trans "Generate awesome collages from your Last.fm most listened albums, artists or tracks. Create Last.fm collages of your tops." %}">
    <meta name="keywords" content="lastfm, last fm, last fm artist collage, collage, collage generator, lastfm collage generator, last fm collage generator, lastfm collagegenerator lastfm collagegenerator, lastfm collage, last fm collage, tracks, artists, musicbucket">
    <meta name="author" content="pauriera.com">
    <title>Last.fm Collage Generator. Generate Last.fm collages. By MusicBucket.net</title>
    {# Google tag (gtag.js) #}
    <script async
            src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_ANALYTICS_TRACKING_CODE }}">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ config.GOOGLE_ANALYTICS_TRACKING_CODE }}');
    </script>
    <link rel="icon" type="image/x-icon"
          href="{% static 'collagegenerator/img/favicon.ico' %}">
    {% block css %}
        {% compress css %}
            <link rel="stylesheet"
                  href="{% static 'cookielaw/css/cookielaw.css' %}"/>
            <link rel="stylesheet" type="text/scss"
                  href="{% static 'collagegenerator/scss/base.scss' %}">
        {% endcompress %}
    {% endblock %}

    {% compress css %}
        {% block page_css %}
            {# page specific css goes here #}
        {% endblock page_css %}
    {% endcompress %}
</head>

<body>
{% include 'collagegenerator/components/header.html' %}
{% block content %}
{% endblock %}
{% CookielawBanner %}
{% include 'collagegenerator/components/footer.html' %}

{% block javascript %}
    {% compress js %}
        <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
    {% endcompress %}
{% endblock %}
</body>
</html>

