<div>
    {# TODO: In the detail page, show how many times has been sent #}

{#    <a href="{% url 'app:sent-spotify-link-detail' record.pk %}">#}
        {% if record.link.link_type == "artist" %}
            {{ record.link.artist.name }}
        {% elif record.link.link_type == "album" %}
            <strong>{{ record.link.album.get_first_artist.name }}</strong> - {{ record.link.album.name }}
        {% elif record.link.link_type == "track" %}
            <strong>{{ record.link.track.get_first_artist.name }}</strong> - {{ record.link.track.name }}
        {% endif %}
{#    </a>#}
</div>
