{% extends "main/base.html" %}
{% load static compress %}

{% block css %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/scss" href="{% static 'app/scss/base_app.scss' %}">
    {% endcompress %}
{% endblock css %}

{% block navbar_title %}{% endblock navbar_title %}

{% block content %}
    <div id="base-app" class="row">
        <div id="sidebar">
            {% include "app/components/sidebar.html" %}
        </div>
        <div class="body">
            {% if messages %}
                <div class="alerts-group">
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div id="app">
              {% block app %}{% endblock app %}
            </div>
        </div>
    </div>
{% endblock content %}
