{% extends "app/base_app.html" %}
{% load static i18n compress widget_tweaks %}
{% load render_table from django_tables2 %}

{% block extra_title %}{% trans 'Sent links' %}{% endblock extra_title %}

{% block app %}
    <div class="margin">
        {% if filter %}
            <form action="" method="get" class="col s12">
                {% csrf_token %}
                <div class="row">
                    {% if filter.form.link__link_type %}
                        <div class="input-field col s2">
                            {% render_field filter.form.link__link_type autofocus="autofocus" %}
                            {{ filter.form.link__link_type.label_tag }}
                        </div>
                    {% endif %}
                    {% if filter.form.chat %}
                        <div class="input-field col s3">
                            {% render_field filter.form.chat autofocus="autofocus" %}
                            {{ filter.form.chat.label_tag }}
                        </div>
                    {% endif %}
                    {% if filter.form.sent_at_start_date %}
                        <div class="input-field col s3">
                            {% render_field filter.form.sent_at_start_date autofocus="autofocus" class+="datepicker" %}
                            {{ filter.form.sent_at_start_date.label_tag }}
                        </div>
                    {% endif %}
                    {% if filter.form.sent_at_end_date %}
                        <div class="input-field col s3">
                            {% render_field filter.form.sent_at_end_date autofocus="autofocus" class+="datepicker" %}
                            {{ filter.form.sent_at_end_date.label_tag }}
                        </div>
                    {% endif %}
                    {% if filter.form.genres %}
                        <div class="input-field col s3">
                            {% render_field filter.form.genres autofocus="autofocus" %}
                            {{ filter.form.genres.label_tag }}
                        </div>
                    {% endif %}
                    <div class="input-field col s1">
                        <button class="btn" type="submit">{% trans "Submit" %}</button>
                    </div>
                </div>
            </form>
        {% endif %}

        {% render_table table %}

        {{ page_obj }}
    </div>
{% endblock app %}

